<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.0.xsd">
	<import resource="applicationContext.xml" />
	<import resource="applicationContext-main.xml" />
	<import resource="applicationContext-localTestDataSource.xml" /> <!-- last beandef wins -->
	<import resource="applicationContext-localDataSource.xml" />
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean
		id="testDataProvider"
		class="org.phoenixctms.ctsms.TestDataProvider">
	</bean>
	<bean
		id="reportEmailSender"
		class="org.phoenixctms.ctsms.test.ReportEmailSender">
		<property
			name="mailSender"
			ref="jobMailSender" />
	</bean>
	<bean
		id="jobMailSenderJavaMailBundle"
		class="org.phoenixctms.ctsms.util.ResourceBundleConverter">
		<property
			name="basename"
			value="ctsms-job-mail-sender" />
	</bean>
	<bean
		id="jobMailSenderJavaMailProperties"
		factory-bean="jobMailSenderJavaMailBundle"
		factory-method="getProperties" />
	<bean
		id="jobMailSenderJavaMailPropertiesFactory"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<ref local="jobMailSenderJavaMailProperties" />
		</property>
	</bean>
	<bean
		id="jobMailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property
			name="host"
			value="${job_mail_sender_host}" />
		<property
			name="port"
			value="${job_mail_sender_port}" />
		<property
			name="defaultEncoding"
			value="UTF-8" />
		<property
			name="protocol"
			value="${job_mail_sender_protocol}" />
		<property
			name="username"
			value="${job_mail_sender_username}" />
		<property
			name="password"
			value="${job_mail_sender_password}" />
		<property
			name="javaMailProperties"
			ref="jobMailSenderJavaMailPropertiesFactory" />
	</bean>	
</beans>
