.ctsms-color-aqua {
	background: none; /* always use when to remove tablerow-bgimage of theme */
	background-color: aqua;
}

.ctsms-color-black {
	background: none;
	background-color: black;
}

.ctsms-color-blue {
	background: none;
	background-color: blue;
}

.ctsms-color-fuchsia {
	background: none;
	background-color: fuchsia;
}

.ctsms-color-gray {
	background: none;
	background-color: gray;
}

.ctsms-color-grey {
	background: none;
	background-color: #808080;
}

.ctsms-color-green {
	background: none;
	background-color: green;
}

.ctsms-color-lime {
	background: none;
	background-color: lime;
}

.ctsms-color-maroon {
	background: none;
	background-color: maroon;
}

.ctsms-color-navy {
	background: none;
	background-color: navy;
}

.ctsms-color-olive {
	background: none;
	background-color: olive;
}

.ctsms-color-purple {
	background: none;
	background-color: purple;
}

.ctsms-color-red {
	background: none;
	background-color: red;
}

.ctsms-color-silver {
	background: none;
	background-color: silver;
}

.ctsms-color-teal {
	background: none;
	background-color: teal;
}

.ctsms-color-white {
	background: none;
	background-color: white;
}

.ctsms-color-yellow {
	background: none;
	background-color: yellow;
}

.ctsms-color-aliceblue {
	background: none;
	background-color: #f0f8ff;
}

.ctsms-color-antiquewhite {
	background: none;
	background-color: #faebd7;
}

.ctsms-color-aquamarine {
	background: none;
	background-color: #7fffd4;
}

.ctsms-color-azure {
	background: none;
	background-color: #f0ffff;
}

.ctsms-color-beige {
	background: none;
	background-color: #f5f5dc;
}

.ctsms-color-bisque {
	background: none;
	background-color: #ffe4c4;
}

.ctsms-color-blanchedalmond {
	background: none;
	background-color: #ffebcd;
}

.ctsms-color-blueviolet {
	background: none;
	background-color: #8a2be2;
}

.ctsms-color-brown {
	background: none;
	background-color: #a52a2a;
}

.ctsms-color-burlywood {
	background: none;
	background-color: #deb887;
}

.ctsms-color-cadetblue {
	background: none;
	background-color: #5f9ea0;
}

.ctsms-color-chartreuse {
	background: none;
	background-color: #7fff00;
}

.ctsms-color-chocolate {
	background: none;
	background-color: #d2691e;
}

.ctsms-color-coral {
	background: none;
	background-color: #ff7f50;
}

.ctsms-color-cornflowerblue {
	background: none;
	background-color: #6495ed;
}

.ctsms-color-cornsilk {
	background: none;
	background-color: #fff8dc;
}

.ctsms-color-crimson {
	background: none;
	background-color: #dc143c;
}

.ctsms-color-cyan {
	background: none;
	background-color: #00ffff;
}

.ctsms-color-darkblue {
	background: none;
	background-color: #00008b;
}

.ctsms-color-darkcyan {
	background: none;
	background-color: #008b8b;
}

.ctsms-color-darkgoldenrod {
	background: none;
	background-color: #b8860b;
}

.ctsms-color-darkgray {
	background: none;
	background-color: #a9a9a9;
}

.ctsms-color-darkgrey {
	background: none;
	background-color: #a9a9a9;
}

.ctsms-color-darkgreen {
	background: none;
	background-color: #006400;
}

.ctsms-color-darkkhaki {
	background: none;
	background-color: #bdb76b;
}

.ctsms-color-darkmagenta {
	background: none;
	background-color: #8b008b;
}

.ctsms-color-darkolivegreen {
	background: none;
	background-color: #556b2f;
}

.ctsms-color-darkorange {
	background: none;
	background-color: #ff8c00;
}

.ctsms-color-darkorchid {
	background: none;
	background-color: #9932cc;
}

.ctsms-color-darkred {
	background: none;
	background-color: #8b0000;
}

.ctsms-color-darksalmon {
	background: none;
	background-color: #e9967a
}

.ctsms-color-darkseagreen {
	background: none;
	background-color: #8fbc8f;
}

.ctsms-color-darkslateblue {
	background: none;
	background-color: #483d8b;
}

.ctsms-color-darkslategray {
	background: none;
	background-color: #2f4f4f;
}

.ctsms-color-darkslategrey {
	background: none;
	background-color: #2f4f4f;
}

.ctsms-color-darkturquoise {
	background: none;
	background-color: #00ced1;
}

.ctsms-color-darkviolet {
	background: none;
	background-color: #9400d3;
}

.ctsms-color-deeppink {
	background: none;
	background-color: #ff1493;
}

.ctsms-color-deepskyblue {
	background: none;
	background-color: #00bfff;
}

.ctsms-color-dimgray {
	background: none;
	background-color: #696969;
}

.ctsms-color-dimgrey {
	background: none;
	background-color: #696969;
}

.ctsms-color-dodgerblue {
	background: none;
	background-color: #1e90ff;
}

.ctsms-color-firebrick {
	background: none;
	background-color: #b22222;
}

.ctsms-color-floralwhite {
	background: none;
	background-color: #fffaf0;
}

.ctsms-color-forestgreen {
	background: none;
	background-color: #228b22;
}

.ctsms-color-gainsboro {
	background: none;
	background-color: #dcdcdc;
}

.ctsms-color-ghostwhite {
	background: none;
	background-color: #f8f8ff;
}

.ctsms-color-gold {
	background: none;
	background-color: #ffd700;
}

.ctsms-color-goldenrod {
	background: none;
	background-color: #daa520;
}

.ctsms-color-greenyellow {
	background: none;
	background-color: #adff2f;
}

.ctsms-color-honeydew {
	background: none;
	background-color: #f0fff0;
}

.ctsms-color-hotpink {
	background: none;
	background-color: #ff69b4;
}

.ctsms-color-indianred {
	background: none;
	background-color: #cd5c5c;
}

.ctsms-color-indigo {
	background: none;
	background-color: #4b0082;
}

.ctsms-color-ivory {
	background: none;
	background-color: #fffff0;
}

.ctsms-color-khaki {
	background: none;
	background-color: #f0e68c;
}

.ctsms-color-lavender {
	background: none;
	background-color: #e6e6fa;
}

.ctsms-color-lavenderblush {
	background: none;
	background-color: #fff0f5;
}

.ctsms-color-lawngreen {
	background: none;
	background-color: #7cfc00;
}

.ctsms-color-lemonchiffon {
	background: none;
	background-color: #fffacd;
}

.ctsms-color-lightblue {
	background: none;
	background-color: #add8e6;
}

.ctsms-color-lightcoral {
	background: none;
	background-color: #f08080;
}

.ctsms-color-lightcyan {
	background: none;
	background-color: #e0ffff;
}

.ctsms-color-lightgoldenrodyellow {
	background: none;
	background-color: #fafad2;
}

.ctsms-color-lightgray {
	background: none;
	background-color: #d3d3d3;
}

.ctsms-color-lightgrey {
	background: none;
	background-color: #d3d3d3;
}

.ctsms-color-lightgreen {
	background: none;
	background-color: #90ee90;
	/* 	color: #2f4f4f; */
}

.ctsms-color-lightpink {
	background: none;
	background-color: #ffb6c1;
}

.ctsms-color-lightsalmon {
	background: none;
	background-color: #ffa07a;
}

.ctsms-color-lightseagreen {
	background: none;
	background-color: #20b2aa;
}

.ctsms-color-lightskyblue {
	background: none;
	background-color: #87cefa;
}

.ctsms-color-lightslategray {
	background: none;
	background-color: #778899;
}

.ctsms-color-lightslategrey {
	background: none;
	background-color: #778899;
}

.ctsms-color-lightsteelblue {
	background: none;
	background-color: #b0c4de;
}

.ctsms-color-lightyellow {
	background: none;
	background-color: #ffffe0;
	/* color: #2f4f4f; */
}

.ctsms-color-limegreen {
	background: none;
	background-color: #32cd32;
}

.ctsms-color-linen {
	background: none;
	background-color: #faf0e6;
}

.ctsms-color-magenta {
	background: none;
	background-color: #ff00ff;
}

.ctsms-color-mediumaquamarine {
	background: none;
	background-color: #66cdaa;
}

.ctsms-color-mediumblue {
	background: none;
	background-color: #0000cd;
}

.ctsms-color-mediumorchid {
	background: none;
	background-color: #ba55d3;
}

.ctsms-color-mediumpurple {
	background: none;
	background-color: #9370d8;
}

.ctsms-color-mediumseagreen {
	background: none;
	background-color: #3cb371;
}

.ctsms-color-mediumslateblue {
	background: none;
	background-color: #7b68ee;
}

.ctsms-color-mediumspringgreen {
	background: none;
	background-color: #00fa9a;
}

.ctsms-color-mediumturquoise {
	background: none;
	background-color: #48d1cc;
}

.ctsms-color-mediumvioletred {
	background: none;
	background-color: #c71585;
}

.ctsms-color-midnightblue {
	background: none;
	background-color: #191970;
}

.ctsms-color-mintcream {
	background: none;
	background-color: #f5fffa;
}

.ctsms-color-mistyrose {
	background: none;
	background-color: #ffe4e1;
}

.ctsms-color-moccasin {
	background: none;
	background-color: #ffe4b5;
}

.ctsms-color-navajowhite {
	background: none;
	background-color: #ffdead;
}

.ctsms-color-oldlace {
	background: none;
	background-color: #fdf5e6;
}

.ctsms-color-olivedrab {
	background: none;
	background-color: #6b8e23;
}

.ctsms-color-orange {
	background: none;
	background-color: #ffa500;
}

.ctsms-color-orangered {
	background: none;
	background-color: #ff4500;
}

.ctsms-color-orchid {
	background: none;
	background-color: #da70d6;
}

.ctsms-color-palegoldenrod {
	background: none;
	background-color: #eee8aa;
}

.ctsms-color-palegreen {
	background: none;
	background-color: #98fb98;
}

.ctsms-color-paleturquoise {
	background: none;
	background-color: #afeeee;
}

.ctsms-color-palevioletred {
	background: none;
	background-color: #d87093;
}

.ctsms-color-papayawhip {
	background: none;
	background-color: #ffefd5;
}

.ctsms-color-peachpuff {
	background: none;
	background-color: #ffdab9;
}

.ctsms-color-peru {
	background: none;
	background-color: #cd853f;
}

.ctsms-color-pink {
	background: none;
	background-color: #ffc0cb;
}

.ctsms-color-plum {
	background: none;
	background-color: #dda0dd;
	/* color: #2f4f4f; */
}

.ctsms-color-powderblue {
	background: none;
	background-color: #b0e0e6;
}

.ctsms-color-rosybrown {
	background: none;
	background-color: #bc8f8f;
}

.ctsms-color-royalblue {
	background: none;
	background-color: #4169e1;
}

.ctsms-color-saddlebrown {
	background: none;
	background-color: #8b4513;
}

.ctsms-color-salmon {
	background: none;
	background-color: #fa8072;
}

.ctsms-color-sandybrown {
	background: none;
	background-color: #f4a460;
}

.ctsms-color-seagreen {
	background: none;
	background-color: #2e8b57;
}

.ctsms-color-seashell {
	background: none;
	background-color: #fff5ee;
}

.ctsms-color-sienna {
	background: none;
	background-color: #a0522d;
}

.ctsms-color-skyblue {
	background: none;
	background-color: #87ceeb;
}

.ctsms-color-slateblue {
	background: none;
	background-color: #6a5acd;
}

.ctsms-color-slategray {
	background: none;
	background-color: #708090;
}

.ctsms-color-slategrey {
	background: none;
	background-color: #708090;
}

.ctsms-color-snow {
	background: none;
	background-color: #fffafa;
}

.ctsms-color-springgreen {
	background: none;
	background-color: #00ff7f;
}

.ctsms-color-steelblue {
	background: none;
	background-color: #4682b4;
}

.ctsms-color-tan {
	background: none;
	background-color: #d2b48c;
}

.ctsms-color-thistle {
	background: none;
	background-color: #d8bfd8;
}

.ctsms-color-tomato {
	background: none;
	background-color: #ff6347;
}

.ctsms-color-turquoise {
	background: none;
	background-color: #40e0d0;
}

.ctsms-color-violet {
	background: none;
	background-color: #ee82ee;
}

.ctsms-color-wheat {
	background: none;
	background-color: #f5deb3;
}

.ctsms-color-whitesmoke {
	background: none;
	background-color: #f5f5f5;
}

.ctsms-color-yellowgreen {
	background: none;
	background-color: #9acd32;
}

.ctsms-color-aqua .fc-event-inner {
	background: none;
	background-color: aqua;
	color: #2f4f4f;
}

.ctsms-color-black .fc-event-inner {
	background: none;
	background-color: black;
}

.ctsms-color-blue .fc-event-inner {
	background: none;
	background-color: blue;
}

.ctsms-color-fuchsia .fc-event-inner {
	background: none;
	background-color: fuchsia;
	color: #2f4f4f;
}

.ctsms-color-gray .fc-event-inner {
	background: none;
	background-color: gray;
}

.ctsms-color-grey .fc-event-inner {
	background: none;
	background-color: #808080;
}

.ctsms-color-green .fc-event-inner {
	background: none;
	background-color: green;
}

.ctsms-color-lime .fc-event-inner {
	background: none;
	background-color: lime;
	color: #2f4f4f;
}

.ctsms-color-maroon .fc-event-inner {
	background: none;
	background-color: maroon;
}

.ctsms-color-navy .fc-event-inner {
	background: none;
	background-color: navy;
}

.ctsms-color-olive .fc-event-inner {
	background: none;
	background-color: olive;
}

.ctsms-color-purple .fc-event-inner {
	background: none;
	background-color: purple;
}

.ctsms-color-red .fc-event-inner {
	background: none;
	background-color: red;
}

.ctsms-color-silver .fc-event-inner {
	background: none;
	background-color: silver;
	color: #2f4f4f;
}

.ctsms-color-teal .fc-event-inner {
	background: none;
	background-color: teal;
}

.ctsms-color-white .fc-event-inner {
	background: none;
	background-color: white;
	color: #2f4f4f;
}

.ctsms-color-yellow .fc-event-inner {
	background: none;
	background-color: yellow;
	color: #2f4f4f;
}

.ctsms-color-aliceblue .fc-event-inner {
	background: none;
	background-color: #f0f8ff;
	color: #2f4f4f;
}

.ctsms-color-antiquewhite .fc-event-inner {
	background: none;
	background-color: #faebd7;
	color: #2f4f4f;
}

.ctsms-color-aquamarine .fc-event-inner {
	background: none;
	background-color: #7fffd4;
	color: #2f4f4f;
}

.ctsms-color-azure .fc-event-inner {
	background: none;
	background-color: #f0ffff;
	color: #2f4f4f;
}

.ctsms-color-beige .fc-event-inner {
	background: none;
	background-color: #f5f5dc;
	color: #2f4f4f;
}

.ctsms-color-bisque .fc-event-inner {
	background: none;
	background-color: #ffe4c4;
	color: #2f4f4f;
}

.ctsms-color-blanchedalmond .fc-event-inner {
	background: none;
	background-color: #ffebcd;
	color: #2f4f4f;
}

.ctsms-color-blueviolet .fc-event-inner {
	background: none;
	background-color: #8a2be2;
}

.ctsms-color-brown .fc-event-inner {
	background: none;
	background-color: #a52a2a;
}

.ctsms-color-burlywood .fc-event-inner {
	background: none;
	background-color: #deb887;
	color: #2f4f4f;
}

.ctsms-color-cadetblue .fc-event-inner {
	background: none;
	background-color: #5f9ea0;
}

.ctsms-color-chartreuse .fc-event-inner {
	background: none;
	background-color: #7fff00;
	color: #2f4f4f;
}

.ctsms-color-chocolate .fc-event-inner {
	background: none;
	background-color: #d2691e;
}

.ctsms-color-coral .fc-event-inner {
	background: none;
	background-color: #ff7f50;
	color: #2f4f4f;
}

.ctsms-color-cornflowerblue .fc-event-inner {
	background: none;
	background-color: #6495ed;
	color: #2f4f4f;
}

.ctsms-color-cornsilk .fc-event-inner {
	background: none;
	background-color: #fff8dc;
	color: #2f4f4f;
}

.ctsms-color-crimson .fc-event-inner {
	background: none;
	background-color: #dc143c;
}

.ctsms-color-cyan .fc-event-inner {
	background: none;
	background-color: #00ffff;
	color: #2f4f4f;
}

.ctsms-color-darkblue .fc-event-inner {
	background: none;
	background-color: #00008b;
}

.ctsms-color-darkcyan .fc-event-inner {
	background: none;
	background-color: #008b8b;
}

.ctsms-color-darkgoldenrod .fc-event-inner {
	background: none;
	background-color: #b8860b;
}

.ctsms-color-darkgray .fc-event-inner {
	background: none;
	background-color: #a9a9a9;
	color: #2f4f4f;
}

.ctsms-color-darkgrey .fc-event-inner {
	background: none;
	background-color: #a9a9a9;
}

.ctsms-color-darkgreen .fc-event-inner {
	background: none;
	background-color: #006400;
}

.ctsms-color-darkkhaki .fc-event-inner {
	background: none;
	background-color: #bdb76b;
	color: #2f4f4f;
}

.ctsms-color-darkmagenta .fc-event-inner {
	background: none;
	background-color: #8b008b;
}

.ctsms-color-darkolivegreen .fc-event-inner {
	background: none;
	background-color: #556b2f;
}

.ctsms-color-darkorange .fc-event-inner {
	background: none;
	background-color: #ff8c00;
	color: #2f4f4f;
}

.ctsms-color-darkorchid .fc-event-inner {
	background: none;
	background-color: #9932cc;
}

.ctsms-color-darkred .fc-event-inner {
	background: none;
	background-color: #8b0000;
}

.ctsms-color-darksalmon .fc-event-inner {
	background: none;
	background-color: #e9967a;
	color: #2f4f4f;
}

.ctsms-color-darkseagreen .fc-event-inner {
	background: none;
	background-color: #8fbc8f;
	color: #2f4f4f;
}

.ctsms-color-darkslateblue .fc-event-inner {
	background: none;
	background-color: #483d8b;
}

.ctsms-color-darkslategray .fc-event-inner {
	background: none;
	background-color: #2f4f4f;
}

.ctsms-color-darkslategrey .fc-event-inner {
	background: none;
	background-color: #2f4f4f;
}

.ctsms-color-darkturquoise .fc-event-inner {
	background: none;
	background-color: #00ced1;
	color: #2f4f4f;
}

.ctsms-color-darkviolet .fc-event-inner {
	background: none;
	background-color: #9400d3;
}

.ctsms-color-deeppink .fc-event-inner {
	background: none;
	background-color: #ff1493;
	color: #2f4f4f;
}

.ctsms-color-deepskyblue .fc-event-inner {
	background: none;
	background-color: #00bfff;
	color: #2f4f4f;
}

.ctsms-color-dimgray .fc-event-inner {
	background: none;
	background-color: #696969;
}

.ctsms-color-dimgrey .fc-event-inner {
	background: none;
	background-color: #696969;
}

.ctsms-color-dodgerblue .fc-event-inner {
	background: none;
	background-color: #1e90ff;
}

.ctsms-color-firebrick .fc-event-inner {
	background: none;
	background-color: #b22222;
}

.ctsms-color-floralwhite .fc-event-inner {
	background: none;
	background-color: #fffaf0;
	color: #2f4f4f;
}

.ctsms-color-forestgreen .fc-event-inner {
	background: none;
	background-color: #228b22;
}

.ctsms-color-gainsboro .fc-event-inner {
	background: none;
	background-color: #dcdcdc;
	color: #2f4f4f;
}

.ctsms-color-ghostwhite .fc-event-inner {
	background: none;
	background-color: #f8f8ff;
	color: #2f4f4f;
}

.ctsms-color-gold .fc-event-inner {
	background: none;
	background-color: #ffd700;
	color: #2f4f4f;
}

.ctsms-color-goldenrod .fc-event-inner {
	background: none;
	background-color: #daa520;
	color: #2f4f4f;
}

.ctsms-color-greenyellow .fc-event-inner {
	background: none;
	background-color: #adff2f;
	color: #2f4f4f;
}

.ctsms-color-honeydew .fc-event-inner {
	background: none;
	background-color: #f0fff0;
	color: #2f4f4f;
}

.ctsms-color-hotpink .fc-event-inner {
	background: none;
	background-color: #ff69b4;
	color: #2f4f4f;
}

.ctsms-color-indianred .fc-event-inner {
	background: none;
	background-color: #cd5c5c;
}

.ctsms-color-indigo .fc-event-inner {
	background: none;
	background-color: #4b0082;
}

.ctsms-color-ivory .fc-event-inner {
	background: none;
	background-color: #fffff0;
	color: #2f4f4f;
}

.ctsms-color-khaki .fc-event-inner {
	background: none;
	background-color: #f0e68c;
	color: #2f4f4f;
}

.ctsms-color-lavender .fc-event-inner {
	background: none;
	background-color: #e6e6fa;
	color: #2f4f4f;
}

.ctsms-color-lavenderblush .fc-event-inner {
	background: none;
	background-color: #fff0f5;
	color: #2f4f4f;
}

.ctsms-color-lawngreen .fc-event-inner {
	background: none;
	background-color: #7cfc00;
	color: #2f4f4f;
}

.ctsms-color-lemonchiffon .fc-event-inner {
	background: none;
	background-color: #fffacd;
	color: #2f4f4f;
}

.ctsms-color-lightblue .fc-event-inner {
	background: none;
	background-color: #add8e6;
	color: #2f4f4f;
}

.ctsms-color-lightcoral .fc-event-inner {
	background: none;
	background-color: #f08080;
	color: #2f4f4f;
}

.ctsms-color-lightcyan .fc-event-inner {
	background: none;
	background-color: #e0ffff;
	color: #2f4f4f;
}

.ctsms-color-lightgoldenrodyellow .fc-event-inner {
	background: none;
	background-color: #fafad2;
	color: #2f4f4f;
}

.ctsms-color-lightgray .fc-event-inner {
	background: none;
	background-color: #d3d3d3;
}

.ctsms-color-lightgrey .fc-event-inner {
	background: none;
	background-color: #d3d3d3;
	color: #2f4f4f;
}

.ctsms-color-lightgreen .fc-event-inner {
	background: none;
	background-color: #90ee90;
	color: #2f4f4f;
}

.ctsms-color-lightpink .fc-event-inner {
	background: none;
	background-color: #ffb6c1;
	color: #2f4f4f;
}

.ctsms-color-lightsalmon .fc-event-inner {
	background: none;
	background-color: #ffa07a;
	color: #2f4f4f;
}

.ctsms-color-lightseagreen .fc-event-inner {
	background: none;
	background-color: #20b2aa;
	color: #2f4f4f;
}

.ctsms-color-lightskyblue .fc-event-inner {
	background: none;
	background-color: #87cefa;
	color: #2f4f4f;
}

.ctsms-color-lightslategray .fc-event-inner {
	background: none;
	background-color: #778899;
}

.ctsms-color-lightslategrey .fc-event-inner {
	background: none;
	background-color: #778899;
}

.ctsms-color-lightsteelblue .fc-event-inner {
	background: none;
	background-color: #b0c4de;
	color: #2f4f4f;
}

.ctsms-color-lightyellow .fc-event-inner {
	background: none;
	background-color: #ffffe0;
	color: #2f4f4f;
}

.ctsms-color-limegreen .fc-event-inner {
	background: none;
	background-color: #32cd32;
	color: #2f4f4f;
}

.ctsms-color-linen .fc-event-inner {
	background: none;
	background-color: #faf0e6;
	color: #2f4f4f;
}

.ctsms-color-magenta .fc-event-inner {
	background: none;
	background-color: #ff00ff;
	color: #2f4f4f;
}

.ctsms-color-mediumaquamarine .fc-event-inner {
	background: none;
	background-color: #66cdaa;
	color: #2f4f4f;
}

.ctsms-color-mediumblue .fc-event-inner {
	background: none;
	background-color: #0000cd;
}

.ctsms-color-mediumorchid .fc-event-inner {
	background: none;
	background-color: #ba55d3;
	color: #2f4f4f;
}

.ctsms-color-mediumpurple .fc-event-inner {
	background: none;
	background-color: #9370d8;
}

.ctsms-color-mediumseagreen .fc-event-inner {
	background: none;
	background-color: #3cb371;
}

.ctsms-color-mediumslateblue .fc-event-inner {
	background: none;
	background-color: #7b68ee;
}

.ctsms-color-mediumspringgreen .fc-event-inner {
	background: none;
	background-color: #00fa9a;
	color: #2f4f4f;
}

.ctsms-color-mediumturquoise .fc-event-inner {
	background: none;
	background-color: #48d1cc;
	color: #2f4f4f;
}

.ctsms-color-mediumvioletred .fc-event-inner {
	background: none;
	background-color: #c71585;
}

.ctsms-color-midnightblue .fc-event-inner {
	background: none;
	background-color: #191970;
}

.ctsms-color-mintcream .fc-event-inner {
	background: none;
	background-color: #f5fffa;
	color: #2f4f4f;
}

.ctsms-color-mistyrose .fc-event-inner {
	background: none;
	background-color: #ffe4e1;
	color: #2f4f4f;
}

.ctsms-color-moccasin .fc-event-inner {
	background: none;
	background-color: #ffe4b5;
	color: #2f4f4f;
}

.ctsms-color-navajowhite .fc-event-inner {
	background: none;
	background-color: #ffdead;
	color: #2f4f4f;
}

.ctsms-color-oldlace .fc-event-inner {
	background: none;
	background-color: #fdf5e6;
	color: #2f4f4f;
}

.ctsms-color-olivedrab .fc-event-inner {
	background: none;
	background-color: #6b8e23;
}

.ctsms-color-orange .fc-event-inner {
	background: none;
	background-color: #ffa500;
	color: #2f4f4f;
}

.ctsms-color-orangered .fc-event-inner {
	background: none;
	background-color: #ff4500;
}

.ctsms-color-orchid .fc-event-inner {
	background: none;
	background-color: #da70d6;
	color: #2f4f4f;
}

.ctsms-color-palegoldenrod .fc-event-inner {
	background: none;
	background-color: #eee8aa;
	color: #2f4f4f;
}

.ctsms-color-palegreen .fc-event-inner {
	background: none;
	background-color: #98fb98;
	color: #2f4f4f;
}

.ctsms-color-paleturquoise .fc-event-inner {
	background: none;
	background-color: #afeeee;
	color: #2f4f4f;
}

.ctsms-color-palevioletred .fc-event-inner {
	background: none;
	background-color: #d87093;
	color: #2f4f4f;
}

.ctsms-color-papayawhip .fc-event-inner {
	background: none;
	background-color: #ffefd5;
	color: #2f4f4f;
}

.ctsms-color-peachpuff .fc-event-inner {
	background: none;
	background-color: #ffdab9;
	color: #2f4f4f;
}

.ctsms-color-peru .fc-event-inner {
	background: none;
	background-color: #cd853f;
	color: #2f4f4f;
}

.ctsms-color-pink .fc-event-inner {
	background: none;
	background-color: #ffc0cb;
	color: #2f4f4f;
}

.ctsms-color-plum .fc-event-inner {
	background: none;
	background-color: #dda0dd;
	color: #2f4f4f;
}

.ctsms-color-powderblue .fc-event-inner {
	background: none;
	background-color: #b0e0e6;
	color: #2f4f4f;
}

.ctsms-color-rosybrown .fc-event-inner {
	background: none;
	background-color: #bc8f8f;
	color: #2f4f4f;
}

.ctsms-color-royalblue .fc-event-inner {
	background: none;
	background-color: #4169e1;
}

.ctsms-color-saddlebrown .fc-event-inner {
	background: none;
	background-color: #8b4513;
}

.ctsms-color-salmon .fc-event-inner {
	background: none;
	background-color: #fa8072;
	color: #2f4f4f;
}

.ctsms-color-sandybrown .fc-event-inner {
	background: none;
	background-color: #f4a460;
	color: #2f4f4f;
}

.ctsms-color-seagreen .fc-event-inner {
	background: none;
	background-color: #2e8b57;
}

.ctsms-color-seashell .fc-event-inner {
	background: none;
	background-color: #fff5ee;
	color: #2f4f4f;
}

.ctsms-color-sienna .fc-event-inner {
	background: none;
	background-color: #a0522d;
}

.ctsms-color-skyblue .fc-event-inner {
	background: none;
	background-color: #87ceeb;
}

.ctsms-color-slateblue .fc-event-inner {
	background: none;
	background-color: #6a5acd;
}

.ctsms-color-slategray .fc-event-inner {
	background: none;
	background-color: #708090;
}

.ctsms-color-slategrey .fc-event-inner {
	background: none;
	background-color: #708090;
}

.ctsms-color-snow .fc-event-inner {
	background: none;
	background-color: #fffafa;
	color: #2f4f4f;
}

.ctsms-color-springgreen .fc-event-inner {
	background: none;
	background-color: #00ff7f;
	color: #2f4f4f;
}

.ctsms-color-steelblue .fc-event-inner {
	background: none;
	background-color: #4682b4;
}

.ctsms-color-tan .fc-event-inner {
	background: none;
	background-color: #d2b48c;
	color: #2f4f4f;
}

.ctsms-color-thistle .fc-event-inner {
	background: none;
	background-color: #d8bfd8;
	color: #2f4f4f;
}

.ctsms-color-tomato .fc-event-inner {
	background: none;
	background-color: #ff6347;
	color: #2f4f4f;
}

.ctsms-color-turquoise .fc-event-inner {
	background: none;
	background-color: #40e0d0;
}

.ctsms-color-violet .fc-event-inner {
	background: none;
	background-color: #ee82ee;
	color: #2f4f4f;
}

.ctsms-color-wheat .fc-event-inner {
	background: none;
	background-color: #f5deb3;
	color: #2f4f4f;
}

.ctsms-color-whitesmoke .fc-event-inner {
	background: none;
	background-color: #f5f5f5;
	color: #2f4f4f;
}

.ctsms-color-yellowgreen .fc-event-inner {
	background: none;
	background-color: #9acd32;
	color: #2f4f4f;
}
