.ctsms-course-tree-column {
	vertical-align: top;
	height: 100%;
}

.ctsms-course-tree {
	width: 360px;
	height: 100%;
}

.ctsms-course-input-column {
	vertical-align: top;
	height: 100%;
	width: 100%;
}

.ctsms-course-input-panelgrid {
	width: 100%;
	height: 100%;
}

.ctsms-course-tree-node-parent {
	cursor: pointer;
}

.ctsms-course-tree-node-leaf {
	cursor: pointer;
	font-weight: bold;
}

.ctsms-expiry-input-column {
	vertical-align: top;
	height: 100%;
}

.ctsms-admincourseparticipationstatus-content-panelgrid {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.ctsms-admincourseparticipationstatus-staffpicker-column {
	vertical-align: top;
	height: 100%;
	padding-right: 1px;
}

.ctsms-admincourseparticipationstatus-staffpicker-list {
	width: 360px;
	height: 100%;
}

.ctsms-course-coursepicker-list {

}

.ctsms-admincourseparticipationstatus-input-column {
	vertical-align: top;
	height: 100%;
	width: 100%;
	padding-left: 1px;
}