
.ctsms-inputfield-comment-row {
	font-style: italic;
}

.ctsms-inputfield-statuscomment-row {
	font-weight: bold;
}

.ctsms-inputfield-reasonforchange-row {
	vertical-align: top;
	height: 100%;
}

/* .ctsms-label-for-inputfield-selectvertical-column {
	white-space: nowrap;
	vertical-align: top;
	padding-top: 0.6667em;
}

.ctsms-message-for-inputfield-selectvertical-column {
	width: 50%;
	vertical-align: top;
	padding-top: 0.6667em;
} */

.ctsms-region-sketchpad-column {
	vertical-align: top;
	width: 0%;
}

.ctsms-region-buttons-column {
	width: 32px;
	vertical-align: center;
}

.ctsms-region-codemirror-column {
	vertical-align: top;
	width: 100%;
}

.ctsms-inputfield-output-row {
	font-family: monospace;
	font-weight: bolder;
}

.ctsms-inputfield-output-valueerror {
	background-color: red;
	color: black;
}

.ctsms-inputfield-output-outputerror {
	background-color: #fa8072; /* salmon */
	color: black;
}

.ctsms-inputfield-output-nodelta {
	color: green;
}

.ctsms-inputfield-output-delta {
	color: red;
}

.ctsms-inputfield-output {
	color: gray;
}

.ctsms-inputfield-output-disabled {
    display: none;
	/* color: silver; */
}

/* http://www.herethere.net/~samson/php/color_gradient/?cbegin=BCF2BB&cend=074205&steps=16 */
.ctsms-inputfield-created-color-0 {
	background: none;
	background-color: #BCF2BB;
}

.ctsms-inputfield-created-color-1 {
	background: none;
	background-color: #B0E7AF;
}

.ctsms-inputfield-created-color-2 {
	background: none;
	background-color: #A5DCA4;
}

.ctsms-inputfield-created-color-3 {
	background: none;
	background-color: #9AD198;
}

.ctsms-inputfield-created-color-4 {
	background: none;
	background-color: #8EC68D;
}

.ctsms-inputfield-created-color-5 {
	background: none;
	background-color: #83BB82;
}

.ctsms-inputfield-created-color-6 {
	background: none;
	background-color: #78B076;
}

.ctsms-inputfield-created-color-7 {
	background: none;
	background-color: #6CA56B;
}

.ctsms-inputfield-created-color-8 {
	background: none;
	background-color: #619A60;
}

.ctsms-inputfield-created-color-9 {
	background: none;
	background-color: #568F54;
}

.ctsms-inputfield-created-color-10 {
	background: none;
	background-color: #4A8449;
}

.ctsms-inputfield-created-color-11 {
	background: none;
	background-color: #3F793D;
}

.ctsms-inputfield-created-color-12 {
	background: none;
	background-color: #346E32;
}

.ctsms-inputfield-created-color-13 {
	background: none;
	background-color: #286327;
}

.ctsms-inputfield-created-color-14 {
	background: none;
	background-color: #1D581B;
}

.ctsms-inputfield-created-color-15 {
	background: none;
	background-color: #124D10;
}

.ctsms-inputfield-created-color-16 {
	background: none;
	background-color: #074205;
}