

.ctsms-massmailrecipient-content-panelgrid {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.ctsms-massmailrecipient-probandpicker-column {
	vertical-align: top;
	height: 100%;
	padding-right: 1px;
}

.ctsms-massmailrecipient-probandpicker-list {
	width: 360px;
	height: 100%;
}

.ctsms-massmailrecipient-input-column {
	vertical-align: top;
	height: 100%;
	width: 100%;
	padding-left: 1px;
}