.ctsms-mimetype-application-octet-stream {
	background-image: url(../resources/images/mimetypes/binary.png);
}

.ctsms-mimetype-image-bmp {
	background-image: url(../resources/images/mimetypes/bmp.gif);
}

.ctsms-mimetype-application-vnd-ms-cab-compressed {
	background-image: url(../resources/images/mimetypes/cab.gif);
}

.ctsms-mimetype-text-css {
	background-image: url(../resources/images/mimetypes/css.gif);
}

.ctsms-mimetype-text-csv {
	background-image: url(../resources/images/mimetypes/csv.gif);
}

.ctsms-mimetype-application-x-sqlite3 {
	background-image: url(../resources/images/mimetypes/sqlite.png);
}

.ctsms-mimetype-application-vnd-openxmlformats-officedocument-wordprocessingml-document {
	background-image: url(../resources/images/mimetypes/doc.gif);
}

.ctsms-mimetype-application-msword {
	background-image: url(../resources/images/mimetypes/doc.gif);
}

.ctsms-mimetype-application-x-dvi {
	background-image: url(../resources/images/mimetypes/dvi.png);
}

.ctsms-mimetype-image-vnd-dwg {
	background-image: url(../resources/images/mimetypes/dwg.gif);
}

.ctsms-mimetype-image-vnd-dxf {
	background-image: url(../resources/images/mimetypes/dxf.gif);
}

.ctsms-mimetype-application-vnd-fdf {
	background-image: url(../resources/images/mimetypes/fdf.gif);
}

.ctsms-mimetype-application-vnd-adobe-xfdf {
	background-image: url(../resources/images/mimetypes/fdf.gif);
}

.ctsms-mimetype-application-x-font-ttf {
	background-image: url(../resources/images/mimetypes/fon.gif);
}

.ctsms-mimetype-image-gif {
	background-image: url(../resources/images/mimetypes/gif.gif);
}

.ctsms-mimetype-application-winhlp {
	background-image: url(../resources/images/mimetypes/hlp.gif);
}

.ctsms-mimetype-text-html {
	background-image: url(../resources/images/mimetypes/html.gif);
}

.ctsms-mimetype-application-xhtml-xml {
	background-image: url(../resources/images/mimetypes/html.gif);
}

.ctsms-mimetype-application-xhtml-xml {
	background-image: url(../resources/images/mimetypes/html.gif);
}

.ctsms-mimetype-image-jpeg {
	background-image: url(../resources/images/mimetypes/jpg.gif);
}

.ctsms-mimetype-application-javascript {
	background-image: url(../resources/images/mimetypes/js.gif);
}

.ctsms-mimetype-audio-midi {
	background-image: url(../resources/images/mimetypes/midi.png);
}

.ctsms-mimetype-audio-midi {
	background-image: url(../resources/images/mimetypes/midi.png);
}

.ctsms-mimetype-application-pdf {
	background-image: url(../resources/images/mimetypes/pdf.gif);
}

.ctsms-mimetype-image-png {
	background-image: url(../resources/images/mimetypes/png.gif);
}

.ctsms-mimetype-application-vnd-ms-powerpoint {
	background-image: url(../resources/images/mimetypes/ppt.gif);
}

.ctsms-mimetype-application-vnd-openxmlformats-officedocument-presentationml-presentation {
	background-image: url(../resources/images/mimetypes/ppt.gif);
}

.ctsms-mimetype-application-postscript {
	background-image: url(../resources/images/mimetypes/ps.gif);
}

.ctsms-mimetype-application-vnd-rn-realmedia {
	background-image: url(../resources/images/mimetypes/real.png);
}

.ctsms-mimetype-audio-x-wav {
	background-image: url(../resources/images/mimetypes/sound.png);
}

.ctsms-mimetype-audio-mpeg {
	background-image: url(../resources/images/mimetypes/sound.png);
}

.ctsms-mimetype-audio-ogg {
	background-image: url(../resources/images/mimetypes/sound.png);
}

.ctsms-mimetype-application-x-shockwave-flash {
	background-image: url(../resources/images/mimetypes/swf.gif);
}

.ctsms-mimetype-application-x-tar {
	background-image: url(../resources/images/mimetypes/tar.png);
}

.ctsms-mimetype-application-x-gzip {
	background-image: url(../resources/images/mimetypes/tgz.png);
}

.ctsms-mimetype-text-tab-separated-values {
	background-image: url(../resources/images/mimetypes/tsv.gif);
}

.ctsms-mimetype-text-plain {
	background-image: url(../resources/images/mimetypes/txt.gif);
}

.ctsms-mimetype-image-svg-xml {
	background-image: url(../resources/images/mimetypes/vectorgfx.png);
}

.ctsms-mimetype-video-quicktime {
	background-image: url(../resources/images/mimetypes/video.png);
}

.ctsms-mimetype-video-mpeg {
	background-image: url(../resources/images/mimetypes/video.png);
}

.ctsms-mimetype-video-x-flv {
	background-image: url(../resources/images/mimetypes/video.png);
}

.ctsms-mimetype-video-x-ms-wmv {
	background-image: url(../resources/images/mimetypes/video.png);
}

.ctsms-mimetype-video-x-msvideo {
	background-image: url(../resources/images/mimetypes/video.png);
}

.ctsms-mimetype-application-vnd-ms-excel {
	background-image: url(../resources/images/mimetypes/xls.gif);
}

.ctsms-mimetype-application-vnd-openxmlformats-officedocument-spreadsheetml-sheet {
	background-image: url(../resources/images/mimetypes/xls.gif);
}

.ctsms-mimetype-application-xslt-xml {
	background-image: url(../resources/images/mimetypes/xsl.gif);
}

.ctsms-mimetype-application-xml {
	background-image: url(../resources/images/mimetypes/xml.gif);
}

.ctsms-mimetype-application-zip {
	background-image: url(../resources/images/mimetypes/zip.gif);
}

.ctsms-mimetype-application-vnd-ms-project {
	background-image: url(../resources/images/mimetypes/mpp.gif);
}

.ctsms-mimetype-image-tiff {
	background-image: url(../resources/images/mimetypes/tif.gif);
}

/* binary.png
bmp.gif
cab.gif
css.gif
csv.gif
doc.gif
dvi.png
dwg.gif
dxf.gif
eps.gif
fdf.gif
fla.gif
fon.gif
gif.gif
hlp.gif
html.gif
ini.gif
jpg.gif
js.gif
midi.png
pdf.gif
php.gif
png.gif
ppt.gif
ps.gif
real.png
sound.png
swf.gif
tar.png
tcl.gif
tgz.png
tsv.gif
txt.gif
vectorgfx.png
video.png
xls.gif
xml.gif
xsl.gif
zip.gif
_misc.gif */