.ctsms-proband-tree-column {
	vertical-align: top;
	height: 100%;
}

.ctsms-proband-tree {
	width: 360px;
	height: 100%;
}

.ctsms-proband-input-column {
	vertical-align: top;
	height: 100%;
	width: 100%;
}

.ctsms-proband-input-panelgrid {
	width: 100%;
	height: 100%;
}

.ctsms-proband-tree-node-parent {
	cursor: pointer;
}

.ctsms-proband-tree-node-leaf {
	cursor: pointer;
}

.ctsms-proband-probandpicker-list {

}

.ctsms-code-itemtip-panelgrid {
	white-space: nowrap;
	width: 100%;
	padding-right: 20px;
}

.ctsms-code-itemtip-em {
	font-weight: bolder;
}

.ctsms-addreimbursement-dialog .ui-dialog-content {
	overflow: hidden !important;
}

.ctsms-locationdistance-panelgrid {
	width: 0%;
}

.ctsms-moneytransfer-comment {
	height: 110px;
	min-height: 140px;
}