.ctsms-search-content-panelgrid {
	border-spacing: 0px;
	height: 100%;
}

.ctsms-criteria-list-column {
	vertical-align: top;
	width: 0%;
	height: 100%;
	padding-right: 1px;
}

.ctsms-criteria-list-panelgrid {
	width: 220px;
}

.ctsms-criteria-filter-control {
	width: 140px !important;
}

.ctsms-criteria-input-column {
	vertical-align: top;
	height: 100%;
	width: 100%;
	padding-left: 1px;
	padding-right: 7px;
}

.ctsms-criteria-input-panelgrid {
	width: 100%;
}

.ctsms-criteria-list-filter-row {

}

.ctsms-criteria-list-filter-label-column {
	width: 100%;
}

.ctsms-criteria-list-filter-dropdown-column {

}

.ctsms-criteria-list-row {
	width: 100%;
	white-space: nowrap;
	vertical-align: top;
	height: 100%;
}

.ctsms-criterialist-row {
	cursor: pointer;
}

.ctsms-criterion-hover {
	border: 2px solid #FF0000 !important;
}

.ctsms-search-tabview {
	width: 100%;
	height: 100%;
}

.ctsms-criterion-position {
    border-spacing: 0px;
    width: 12px;
}

table.ctsms-criterion-position tr:nth-child(1) {
	font-size: 0.8em;
	font-family: monospace;
}
table.ctsms-criterion-position tr:nth-child(2) {
	font-size: 0.8em;
	font-weight: bold;
	color: gray;
	text-align: right;
}

.ctsms-criterion-tie {
	width: 40px;
}

.ctsms-criterion-property {
	max-width: 300px;
}

.ctsms-criterion-restriction {
	width: 50px;
}

.ctsms-criterions-panelgrid {

}

.ctsms-criterion-itemtip-panelgrid {
	white-space: nowrap;
	width: 100%;
	padding-right: 50px;
}

.ctsms-criterion-itemtip-em {
	font-weight: bolder;
}

.ctsms-criteria-textarea {
	width: 100%;
	max-width: 100%;
	height: 32px;
	min-height: 32px;
}

.ctsms-label-for-criteria-textarea-column {
	white-space: nowrap;
	vertical-align: top;
}

.ctsms-criteria-textarea-column {
	width: 100%;
}

.ctsms-criterion-row {
	height: 32px;
}

.ctsms-criterion-row-drag {
	cursor: move;
}

.ctsms-search-input-row {
	width: 100%;
}

.ctsms-intermediatesets-chart {
	width: 100%;
	height: 100%;
	min-height: 380px;
}

.ctsms-intermediatesets-tooltip {
  position: absolute;
  /* text-align: center; */
  width: auto;
  height: auto;
  background: #eeeeee;
  color: #808080;
  border: 1px solid;
  padding: 2px;
  /* border: 0px; */
  border-radius: 6px;
  opacity: 0;
  white-space: pre;
 font-size: 1em;
 font-family: monospace;
}

.ctsms-search-result-row {
	width: 100%;
}

.ctsms-resultsetlist-rowexpansion-panelgrid {
	width: 100%;
}

.ctsms-resultsetlist-rowexpansion-column {
	vertical-align: top;
	border-style: hidden !important;
	padding: 2px !important;
	max-width: 200px;
}

.ctsms-resultsetlist-rowexpansion-datalist-descriptiontext {
	font-weight: bold;
}

.ctsms-search-criterion-rows-invalid-color {
	background-color: #FF8F8F;
}

.ctsms-search-criterion-rows-unchecked-color {
	background-color: #dcdcdc; /* gainsboro */
}

.ctsms-search-criterion-row-set-operation {
	background-color: #ffe4e1; /* mistyrose */
}

.ctsms-search-intermediateset-intermediate-color {
	background-color: #ffe4e1;
}
.ctsms-search-intermediateset-blank-color {
	background-color: #BCF2BB;
}
.ctsms-search-intermediateset-highlight-circle-stroke-color {
	background-color: #619A60;
}
.ctsms-search-intermediateset-highlight-circle-intermediate-stroke-color {
	background-color: #ffcdc8; /* darker misty rose */
}
.ctsms-search-intermediateset-highlight-intersection-stroke-color {
	background-color: #FFFFFF;
}


/* http://www.herethere.net/~samson/php/color_gradient/?cbegin=BCF2BB&cend=074205&steps=16 */
.ctsms-search-criterion-row-select-color-0 {
	background-color: #BCF2BB;
}

.ctsms-search-criterion-row-select-color-1 {
	background-color: #B0E7AF;
}

.ctsms-search-criterion-row-select-color-2 {
	background-color: #A5DCA4;
}

.ctsms-search-criterion-row-select-color-3 {
	background-color: #9AD198;
}

.ctsms-search-criterion-row-select-color-4 {
	background-color: #8EC68D;
}

.ctsms-search-criterion-row-select-color-5 {
	background-color: #83BB82;
}

.ctsms-search-criterion-row-select-color-6 {
	background-color: #78B076;
}

.ctsms-search-criterion-row-select-color-7 {
	background-color: #6CA56B;
}

.ctsms-search-criterion-row-select-color-8 {
	background-color: #619A60;
}

.ctsms-search-criterion-row-select-color-9 {
	background-color: #568F54;
}

.ctsms-search-criterion-row-select-color-10 {
	background-color: #4A8449;
}

.ctsms-search-criterion-row-select-color-11 {
	background-color: #3F793D;
}

.ctsms-search-criterion-row-select-color-12 {
	background-color: #346E32;
}

.ctsms-search-criterion-row-select-color-13 {
	background-color: #286327;
}

.ctsms-search-criterion-row-select-color-14 {
	background-color: #1D581B;
}

.ctsms-search-criterion-row-select-color-15 {
	background-color: #124D10;
}

.ctsms-search-criterion-row-select-color-16 {
	background-color: #074205;
}