.ctsms-staff-tree-column {
	vertical-align: top;
	height: 100%;
}

.ctsms-staff-tree {
	width: 360px;
	height: 100%;
}

.ctsms-staff-input-column {
	vertical-align: top;
	height: 100%;
	width: 100%;
}

.ctsms-staff-input-panelgrid {
	width: 100%;
	height: 100%;
}

.ctsms-staff-tree-node-parent {
	cursor: pointer;
}

.ctsms-staff-tree-node-leaf {
	cursor: pointer;
}

.ctsms-icon-mycourse {
	background-image: url(../resources/images/css/graduation_hat1.png) !important;
}

.ctsms-staff-schedule-status-event {
	font-weight: bold;
	font-style: italic;
	background-color: #ff4500; /* orangered */
}

.ctsms-staff-schedule-status-event .fc-event-inner {
	background-color: #ff4500; /* orangered */
}