.ctsms-tagcloud {
	width: 100%;
	margin-bottom: 3px;
}

.ctsms-tagcloud-strength-0 {
	cursor: pointer;
	font-size: 70%;
	padding: 1px !important;
}

.ctsms-tagcloud-strength-1 {
	cursor: pointer;
	font-size: 75%;
	padding: 1px !important;
}

.ctsms-tagcloud-strength-2 {
	cursor: pointer;
	font-size: 90%;
	padding: 1px !important;
}

.ctsms-tagcloud-strength-3 {
	cursor: pointer;
	font-size: 105%;
	padding: 1px !important;
}

.ctsms-tagcloud-strength-4 {
	cursor: pointer;
	font-size: 120%;
	padding: 1px !important;
}

.ctsms-tagcloud-strength-5 {
	cursor: pointer;
	font-size: 135%;
	padding: 1px !important;
}

.ctsms-tagcloud-strength-6 {
	cursor: pointer;
	font-size: 150%;
	padding: 1px !important;
}

.ctsms-tagcloud-strength-7 {
	cursor: pointer;
	font-size: 165%;
	padding: 1px !important;
}

.ctsms-tagcloud-strength-8 {
	cursor: pointer;
	font-size: 180%;
	padding: 1px !important;
}

.ctsms-tagcloud-strength-9 {
	cursor: pointer;
	font-size: 195%;
	padding: 1px !important;
}

.ctsms-tagcloud-strength-10 {
	cursor: pointer;
	font-size: 210%;
	padding: 1px !important;
}