
.ctsms-teammemberpicker-list-row {
	width: 100%;
}

.ctsms-ecrfsection-list-row {
	width: 100%;
}

.ctsms-teammember-content-panelgrid {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.ctsms-teammember-staffpicker-column {
	vertical-align: top;
	height: 100%;
	padding-right: 1px;
}

.ctsms-teammember-staffpicker-list {
	width: 360px;
	height: 100%;
}

.ctsms-teammember-input-column {
	vertical-align: top;
	height: 100%;
	width: 100%;
	padding-left: 1px;
}

.ctsms-inquiry-content-panelgrid {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.ctsms-inquiry-inputfieldpicker-column {
	vertical-align: top;
	height: 100%;
	padding-right: 1px;
}

.ctsms-inquiry-inputfieldpicker-list {
	width: 320px;
	height: 100%;
}

.ctsms-inquiry-input-column {
	vertical-align: top;
	height: 100%;
	width: 100%;
	padding-left: 1px;
}



.ctsms-trialvisitschedule-content-panelgrid {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.ctsms-trialvisitschedule-matrix-column {
	vertical-align: top;
	height: 100%;
	padding-right: 1px;
}

.ctsms-trialvisitschedule-input-column {
	vertical-align: top;
	height: 100%;
	width: 100%;
	padding-left: 1px;
}

.ctsms-groupvisitmatrix-table {
	min-width: 320px;
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}
.ctsms-groupvisitmatrix-table th {
    padding: 0px;
}
.ctsms-groupvisitmatrix-table tr {
    width: 100%;
}
.ctsms-groupvisitmatrix-table td {
    padding: 0px;
}
.ctsms-groupvisitmatrix-table td span {
    width: 100%;
    display: block;
    text-align: center;
    font-size: smaller;
    /* white-space: pre; */
}
.ctsms-groupvisitmatrix-table th span {
    width: 100%;
    text-align: center;
    font-size: smaller;
    display: block;
    /* white-space: pre; */
}




.ctsms-probandlistentrytag-content-panelgrid {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.ctsms-probandlistentrytag-inputfieldpicker-column {
	vertical-align: top;
	height: 100%;
	padding-right: 1px;
}

.ctsms-probandlistentrytag-inputfieldpicker-list {
	width: 320px;
	height: 100%;
}

.ctsms-probandlistentrytag-input-column {
	vertical-align: top;
	height: 100%;
	width: 100%;
	padding-left: 1px;
}



.ctsms-ecrf-content-panelgrid {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.ctsms-ecrf-matrix-column {
	vertical-align: top;
	height: 100%;
	padding-right: 1px;
}

.ctsms-ecrf-matrixcolumn-panelgrid {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.ctsms-ecrf-matrixcolumn-matrix-row {
	vertical-align: top;
	/* height: 100%; */
}
.ctsms-ecrf-matrixcolumn-matrix-row > td {
	vertical-align: top;
	/* height: 100%; */
}

.ctsms-ecrf-matrixcolumn-clone-row {
	vertical-align: top;
	height: 100%;
}
.ctsms-ecrf-matrixcolumn-clone-row > td {
	vertical-align: top;
	height: 100%;
	padding-top: 2px;
}

.ctsms-ecrf-input-column {
	vertical-align: top;
	height: 100%;
	width: 100%;
	padding-left: 1px;
}



.ctsms-ecrffield-content-panelgrid {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.ctsms-ecrffield-inputfieldpicker-column {
	vertical-align: top;
	height: 100%;
	padding-right: 1px;
}

.ctsms-ecrffield-inputfieldpickercolumn-panelgrid {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.ctsms-ecrffield-inputfieldpickercolumn-picker-row {
	vertical-align: top;
	/* height: 100%; */
}
.ctsms-ecrffield-inputfieldpickercolumn-picker-row > td {
	vertical-align: top;
	/* height: 100%; */
}
.ctsms-ecrffield-inputfieldpickercolumn-rename-row {
	vertical-align: top;
	height: 100%;
}
.ctsms-ecrffield-inputfieldpickercolumn-rename-row > td {
	vertical-align: top;
	height: 100%;
	padding-top: 2px;
}

.ctsms-ecrffield-inputfieldpicker-list {
	width: 320px;
	height: 100%;
}

.ctsms-ecrffield-input-column {
	vertical-align: top;
	height: 100%;
	width: 100%;
	padding-left: 1px;
}

.ctsms-probandlist-rowexpansion-panelgrid {
	width: 100%;
}

.ctsms-probandlist-rowexpansion-column {
	vertical-align: top;
	border-style: hidden !important;
	padding: 2px !important;
	max-width: 200px;
}

.ctsms-probandlist-rowexpansion-datalist-descriptiontext {
	font-weight: bold;
}

.ctsms-probandlist-content-panelgrid {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.ctsms-probandlist-probandpicker-column {
	vertical-align: top;
	height: 100%;
	padding-right: 1px;
}

.ctsms-probandlist-probandpicker-list {
	width: 320px;
	height: 100%;
}

.ctsms-probandlist-input-column {
	vertical-align: top;
	height: 100%;
	width: 100%;
	padding-left: 1px;
	padding-right: 7px;
}

.ctsms-trialtimeline {
	margin-right: 2px;
	margin-top: 2px;
}

.ctsms-trialtimeline-dialog .ui-dialog-content {
	overflow: hidden !important;
}

.ctsms-timeline-event-startstop {
	font-size: 80%;
	font-weight: normal;
}

.ctsms-timeline-event-description {
	font-size: 80%;
}

.ctsms-timeline-event-icon {
	display: block;
	padding-right: 4px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.ctsms-timeline-importance-lowest {
	font-size: 110%;
}

.ctsms-timeline-importance-low {
	font-size: 130%;
}

.ctsms-timeline-importance-normal {
	font-size: 150%;
}

.ctsms-timeline-importance-high {
	font-size: 170%;
}

.ctsms-timeline-importance-highest {
	font-size: 190%;
}

/* .timeline-navigation-delete {
    background-image: url("../resources/images/timeline/check.gif") !important;
} */