.ctsms-change-password-input-column {
	vertical-align: top;
	padding-top: 0.83em;
}

.ctsms-set-password-input-column {
	vertical-align: top;
}

.ctsms-password-requirements-column {

}

.ctsms-userpermissionprofiles-datagrid>div>table>tbody>tr>td {
	vertical-align: top;
}

.ctsms-ldapentry-itemtip-panelgrid {
	white-space: nowrap;
	width: 100%;
	padding-right: 20px;
}