.ctsms-user-tree-column {
	vertical-align: top;
	height: 100%;
}

.ctsms-user-tree {
	width: 320px;
	height: 100%;
}

.ctsms-user-input-column {
	vertical-align: top;
	height: 100%;
	width: 100%;
}


.ctsms-user-input-panelgrid {
	width: 100%;
	height: 100%;
}

.ctsms-user-tree-node-parent {
	cursor: pointer;
}

.ctsms-user-tree-node-leaf {
	cursor: pointer;
}

.ctsms-change-password-input-column {
	vertical-align: top;
	padding-top: 0.83em;
}

.ctsms-set-password-input-column {
	vertical-align: top;
}

.ctsms-password-requirements-column {

}

.ctsms-userpermissionprofiles-datagrid>div>table>tbody>tr>td {
	vertical-align: top;
}

.ctsms-ldapentry-itemtip-panelgrid {
	white-space: nowrap;
	width: 100%;
	padding-right: 20px;
}